* {
    margin: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue, Helvetica, sans-serif;
  }

  body {
    background-color: aqua;
  }
  
  a:hover {
    color: black;
}

  .nav {
    color: purple;
  }
  .nav__trigger-finger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 15px;
    height: 10px;
    margin: 40px;
    color: darkblue;
  }
  .nav__trigger-finger::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: darkblue;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__trigger-finger span {
    display: block;
    width: 100%;
    height: 2px;
    transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
    background: currentColor;
  }
  .nav__trigger-finger span::before, .nav__trigger-finger span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__trigger-finger span::before {
    top: 0;
  }
  .nav__trigger-finger span::after {
    top: calc(100% - 2px);
  }
  .nav__trigger-input, .nav__submenu-trigger-input {
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: fixed;
  }
  .nav__trigger-input:focus + label {
    color: white;
  }
  .nav__trigger-input:focus + label::before {
    opacity: 1;
  }
  .nav__trigger-input:checked + label {
    height: 10px;
    color: white;
  }
  .nav__trigger-input:checked + label span {
    transform: rotate(45deg);
  }
  .nav__trigger-input:checked + label span::before, .nav__trigger-input:checked + label span::after {
    top: calc(50% - 1px);
    transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__trigger-input:checked + label span::after {
    transform: rotate(90deg);
  }
  .nav__trigger-input:checked ~ ul {
    z-index: 9;
    transform: none;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__list {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: whitesmoke;
    font-size: 4rem;
    padding: 40px;
    transform: translate(100vw) rotate(45deg);
    transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__item {
    list-style: none;
  }
  .nav__item + .nav__item {
    margin-top: 20px;
  }
  .nav__submenu-trigger-input:checked + label::after {
    transform: translateY(10px);
  }
  .nav__submenu-trigger-input:checked ~ ul {
    display: block;
  }
  .nav__submenu-trigger-input:focus + label::after {
    transform: translateY(5px);
  }
  .nav__submenu-trigger-finger::after {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: purple;
    transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  }
  .nav__link {
    text-decoration: none;
    color: inherit;
  }
  .nav__list-child {
    display: none;
    font-size: 2rem;
    margin-top: 10px;
    padding-left: 2rem;
  }
  
  main {
    padding: 6rem 4rem;
  }
  main h1 {
    font-size: 3rem;
    font-weight: normal;
  }
  main h1 span {
    color: purple;
  }
  main p {
    line-height: 1.5;
    margin-top: 1.5rem;
  }

  .blanksection {
    padding: 4%;
  }

  #gradient {
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(0,0,0) 40%);
    align-items: flex-end
  }

  #reversegradient {
    height: 100px;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgb(0,0,0) 40%);
    align-items: flex-end
  }

.tilecontainer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-bottom: 20px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  flex-grow: 1;
  background-color: black;
}

.tileimgcontainer {
  height: 610px;
  width: 100%;
}

.tileimg {
  height: 600px;
  width: 100%;
}

.tileinfo {
  display: flex;
  font-size: xx-large;
  text-align: center;
  color: aqua;
  justify-content: center;
}


#loginbody {
  background-color: lightgrey;
}

.topoflogin {
  background-color: lightgray;
  padding: 5%;
  color: black;
  font-size: xx-large;
  text-align: center;
}

.formimgcontainer {
  text-align: center;
  background-color: lightgray;
  padding: 5px;
}

.formimg {
  width: 40%;
  border-radius: 50%;
}

.forminput {
  background-color: lightgray;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  font-size: x-large;
}

.formentry {
  width: 100%;
  font-size: x-large;
}

.loginbutton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: x-large;
}

.loginfoot {
  background-color: lightgray;
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.cancel {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  font-size: x-large;
}

span.frgtpass {
  float: right;
  padding-top: 16px;
  font-size: x-large;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.logoutbutton {
  background: whitesmoke;
  border: none;
  font-size: 1em;
  font-weight: normal;
  color: purple;
}

.logoutcontainer {
  color: black;
  font-size: large;
  padding: 10px;
}

.footinfo {
  display: flex;
  flex-direction: column;
  width: 25%;
  font: 0.6em;
}

.foothead {
  font-size: 2em;
  padding: 10px;
}

.tiny {
  margin: 3px;
  text-decoration: none;
}

.bottom {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-evenly;
}

a.home {
  text-decoration: none;
  color: white;
}